.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

h1 {
  color: #fff;
  font-size: 32px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
  border-radius: 10px;
  background-color: #2E2D4E;
  max-width: 90%;
  width: 500px;
  margin-bottom: 20px;

  & button {
    border-radius: 10px;
    background-color: #8b8AE1;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
  }

  & button:hover {
    opacity: 0.6;
  }

  & input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #48456C;
    font-size: 16px;
    outline: none;
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  background-color: #2E2D4E;
  max-width: 90%;
  width: 500px;
  margin-bottom: 20px;

  & button {
    border-radius: 10px;
    background-color: #8b8AE1;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
  }

  & button:hover {
    opacity: 0.6;
  }

  & p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;

    & span {
      font-weight: normal;
    }
  }
}